@import "tailwindcss";

@theme {
  --font-nevis: "Nevis", sans-serif;
  --font-manrope: "Manrope", sans-serif;
  --font-pairings: "Pairings", serif;
  --font-montserrat: "Montserrat", sans-serif;
  --font-garamond: "Garamond", serif;
  --animate-marquee: marquee 16s linear infinite;
  --animate-flip: flip 10s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite;

  @keyframes marquee {
    from { transform: translateX(0%); }
    to { transform: translateX(-100%); }
  }

  @keyframes flip {
    0%, 18% { transform: translateY(0); }
    20%, 38% { transform: translateY(-20%) }
    40%, 58% { transform: translateY(-40%) }
    60%, 78% { transform: translateY(-60%) }
    80%, 98% { transform: translateY(-80%) }
    100% { transform: translateY(-100%) }
  }


}

@font-face {
  font-family: 'Nevis';
  src: url('./fonts/nevis.woff2') format('woff2');
  font-weight: bold;
  }

  @font-face {
    font-family: 'Pairings';
    src: url('./fonts/pairings.woff2') format('woff2');
    font-weight: bold;
  }

  @font-face {
    font-family: 'Manrope';
    src: url('./fonts/manrope.woff2') format('woff2');
  }

  @font-face {
    font-family: 'Montserrat';
    src: url('./fonts/montserrat.woff2') format('woff2');
    font-weight: normal;
  }

  @font-face {
    font-family: 'Garamond';
    src: url('./fonts/garamond.woff2') format('woff2');
    font-weight: bold;
  }

  @property --num {
  syntax: '<integer>';
  initial-value: 0;
  inherits: false;
}
